$block-preview_bgc: rgb(215, 228, 218);
$logo__text_font-family_0: "Roboto Slab", serif;
$logo__text_font-family_1: "Baskervville", serif;

$nav_logo-fontFamily2: "Merriweather", serif;
$nav_logo-fontFamily3: "Playfair Display", serif;
$nav_logo-fontFamily4: "PT Serif", serif;
$nav_logo-fontFamily5: "Lobster", serif;
$nav_logo-fontFamily6: "EB Garamond", serif;
$nav_logo-fontFamily7: "Comfortaa", cursive;

.block-preview {
  padding: 10px;
  height: 100%;
  background-color: $block-preview_bgc;

  &_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__logo {
    width: 70%;
  }
  &__text {
    font-family: "Courier New", Courier, monospace;
    font-size: 4em;
  }
}
.logo {
  width: 150px;
  padding: 10px 20px 0px;
  &_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    width: 30%;
  }
  &__text {
    font-family: $logo__text_font-family_0, $logo__text_font-family_1;
  }
}
