@charset "UTF-8";
.nav-user__item_link:link {
  color: black;
}

.nav-user__item_link:visited {
  color: black;
}

.nav-user__item_link:hover {
  color: white;
  background-color: #999999;
}

.nav-user__item_link:active {
  color: black;
}

.nav-user__item_link-footer:link, .block-footer__link:link {
  color: white;
}

.nav-user__item_link-footer:visited, .block-footer__link:visited {
  color: white;
}

.nav-user__item_link-footer:hover, .block-footer__link:hover {
  color: white;
  background-color: #999999;
}

.nav-user__item_link-footer:active, .block-footer__link:active {
  color: white;
}

.wrapper, .block-direction, .block-service, .block-teachers, .block-about {
  padding: 20px;
  background-color: white;
  border-radius: 1%;
}

.block-direction__contaner, .block-service__contaner, .block-teachers__contaner, .block-about {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .block-direction__contaner, .block-service__contaner, .block-teachers__contaner, .block-about {
    width: 100%;
  }
}

h2 {
  font-size: 1.75em;
  text-align: center;
  font-family: "Roboto Slab", serif;
  padding: 20px;
}

body {
  height: 100%;
  background-color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-preview {
  padding: 10px;
  height: 100%;
  background-color: #d7e4da;
}

.block-preview_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-preview__logo {
  width: 70%;
}

.block-preview__text {
  font-family: "Roboto Slab", serif, "Baskervville", serif;
  font-size: 3em;
}

.header-logo {
  height: auto;
  padding: 10px 20px 0px;
  background-color: white;
}

.header-logo_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  .header-logo_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-logo__text {
  font-family: "Roboto Slab", serif;
  font-size: 2em;
  color: black;
}

@media screen and (max-width: 550px) {
  .header-logo__text {
    font-size: 1.75em;
  }
}

.nav-user {
  background-color: #d8ebff;
}

.nav-user_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 650px) {
  .nav-user_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav-user__item {
  text-decoration: none;
  font-size: 1.25em;
  font-family: "Comfortaa", cursive;
  padding: 20px 10px;
}

.nav-user__item_disabled {
  display: none;
}

/*Ограничительный блок бургер навигации*/
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

/*Основные стили бургер навигации*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
}

.header__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
}

.header__logo > img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger > span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger :before, .header__burger :after {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger :before {
    content: "";
    top: 0;
  }
  .header__burger :after {
    content: "";
    bottom: 0;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list > li {
  list-style-type: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.block-direction {
  padding: 100px 0px 0px 0px;
}

.block-direction__item_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 655px) {
  .block-direction__item_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block-direction__item_font {
  font-family: "Merriweather", serif;
  font-size: 1.15em;
  text-align: center;
}

.block-direction__li {
  padding: 10px;
  border-radius: 10px;
  background-color: #ddecd8;
}

.block-direction__li_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-service__button-bar {
  padding: 15px;
  margin: 5px 0px;
  width: 100%;
  background-color: #faad7a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.block-service__button-bar:after {
  content: "\02795";
  float: right;
}

.block-service__button-bar:hover {
  background-color: #ccc;
}

.block-service__button-bar_text {
  font-family: "Merriweather", serif;
  font-size: 1.35em;
  text-align: left;
}

@media screen and (max-width: 655px) {
  .block-service__button-bar_text {
    font-size: 1.25em;
  }
}

.block-service__active:after {
  content: "\2796";
}

.block-service__price {
  display: -ms-grid;
  display: grid;
  margin: 5px;
}

.block-service__price_accordion {
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.block-service__price_position-1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 655px) {
  .block-service__price_position-1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block-service__price_position-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 655px) {
  .block-service__price_position-2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block-service__price_position-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 655px) {
  .block-service__price_position-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block-service__card {
  display: block;
  font-family: "Merriweather", serif;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.block-service__card-header {
  background-color: #ffe4c4;
  font-size: 1.15em;
  line-height: 1.5em;
  text-align: center;
  padding: 10px 0px;
}

.block-service__card-cost {
  background-color: lightgrey;
  font-size: 1.15em;
  padding: 10px;
}

.block-service__card-text {
  font-size: 1em;
  padding: 10px;
  border-bottom: 1px solid #f0eeee;
}

.block-service__card-button {
  font-size: 1em;
  background-color: white;
  padding: 10px;
  width: auto;
  margin: auto;
}

.button-price {
  background-color: #59bd59;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 1.15em;
  padding: 5px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px #999;
          box-shadow: 0 4px #999;
  cursor: pointer;
}

.button-price:hover {
  background-color: #418a41;
}

.button-price:active {
  background-color: #418a41;
  -webkit-box-shadow: 0 2px #666;
          box-shadow: 0 2px #666;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.block-teachers__contaner {
  display: -ms-grid;
  display: grid;
}

.block-teachers__contaner_position {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 650px) {
  .block-teachers__contaner_position {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .block-teachers__contaner_position {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block-teachers__card {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0px 1px 10px;
}

.block-teachers__image {
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 100% 0px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 450px) {
  .block-teachers__image {
    padding: 0px 0px 70% 0px;
  }
}

.block-teachers__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.block-teachers__name {
  font-size: 1.15em;
  text-align: center;
  line-height: 1.2em;
  padding: 10px;
}

.block-teachers__prof {
  font-size: 1em;
  text-align: center;
  color: grey;
}

.block-about__card {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 720px) {
  .block-about__card {
    padding: 0px 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block-about__map {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 550px) {
  .block-about__map {
    height: 300px;
  }
}

.block-about__contact {
  font-family: "Merriweather", serif;
  font-size: 1em;
}

.block-about__head {
  padding: 15px;
  text-align: center;
  font-size: 1.15em;
}

.block-about__info {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  line-height: 20px;
}

.block-footer {
  background-color: #272626;
}

.block-footer__contaner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 650px) {
  .block-footer__contaner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block-footer__logo {
  padding: 10px;
}

@media screen and (max-width: 450px) {
  .block-footer__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.block-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 450px) {
  .block-footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block-footer__link {
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */