.nav-user__item_link:link {
  color: black;
}

.nav-user__item_link:visited {
  color: black;
}

.nav-user__item_link:hover {
  color: white;
  background-color: #999999;
}

.nav-user__item_link:active {
  color: black;
}

.block-direction__text, .block-service__text {
  font-size: 1.75em;
  text-align: center;
  font-family: "Roboto Slab", serif;
  padding: 20px;
}

.body {
  background-color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-preview {
  padding: 10px;
  height: 100%;
  background-color: #d7e4da;
}

.block-preview_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-preview__logo {
  width: 70%;
}

.block-preview__text {
  font-family: "Roboto Slab", serif, "Baskervville", serif;
  font-size: 3em;
}

.header-logo {
  height: auto;
  padding: 10px 20px 0px;
  background-color: white;
}

.header-logo_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  width: 15%;
}

.header-logo__text {
  font-family: "Roboto Slab", serif;
  font-size: 2em;
  color: black;
}

.nav-user {
  background-color: #d8ebff;
}

.nav-user_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-user__item {
  text-decoration: none;
  font-size: 1em;
  font-family: "Comfortaa", cursive;
  padding: 20px 10px;
}

.nav-user__item_disabled {
  display: none;
}

.block-direction {
  padding: 20px;
  background-color: white;
  border-radius: 1%;
}

.block-direction__contaner {
  width: 70%;
  margin: auto;
}

.block-direction__item_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.block-direction__item_font {
  font-family: "Merriweather", serif;
  font-size: 1em;
  text-align: center;
}

.block-direction__li {
  padding: 10px;
  border-radius: 10px;
  background-color: #ddecd8;
}

.block-direction__li_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-service {
  padding: 20px;
  border-radius: 1%;
}

.block-service__contaner {
  width: 70%;
  margin: auto;
}

.block-service__button-bar {
  padding: 15px;
  margin: 5px 0px;
  width: 100%;
  background-color: #faad7a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.block-service__button-bar:after {
  content: "\02795";
  float: right;
}

.block-service__button-bar:hover {
  background-color: #ccc;
}

.block-service__button-bar_text {
  font-family: "Merriweather", serif;
  font-size: 1.25em;
  text-align: left;
}

.block-service__active:after {
  content: "\2796";
}

.block-service__price {
  display: -ms-grid;
  display: grid;
  margin: 5px;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.block-service__price_position {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.block-service__card {
  font-family: "Merriweather", serif;
  font-size: 1em;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.block-service__card-header {
  background-color: #ffe4c4;
  padding: 15px;
  text-align: center;
}

.block-service__card-cost {
  background-color: lightgrey;
  padding: 10px;
}

.block-service__card-text {
  padding: 10px;
  border-bottom: 1px solid #f0eeee;
}

.block-service__card-button {
  background-color: white;
  padding: 10px;
  width: 40%;
  margin: auto;
}

.button-price {
  background-color: #4da94d;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 1em;
  padding: 5px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px #999;
          box-shadow: 0 4px #999;
  cursor: pointer;
}

.button-price:hover {
  background-color: #418a41;
}

.button-price:active {
  background-color: #418a41;
  -webkit-box-shadow: 0 2px #666;
          box-shadow: 0 2px #666;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
/*# sourceMappingURL=style.css.map */