//$nav-user__item: "Courier New", Courier, monospace;
//$nav-user__item: "Merriweather", serif;
//$nav-user__item: "Playfair Display", serif;
//$nav-user__item: "PT Serif", serif;
//$nav-user__item: "Lobster", serif;
//$nav-user__item: "EB Garamond", serif;

//Набор текстового оформления
$h-0: "Roboto Slab", serif;
$h-1: "Baskervville", serif;
$h-size_l: 3em;
$h-size_m: 2em;
$h-size_s: 1.75em;
$nav-0: "Comfortaa", cursive;
$nav-size_l: 1.5em;
$nav-size_m: 1.35em;
$nav-size_s: 1.25em;
$p-0: "Merriweather", serif;
$p-size_l: 1.15em;
$p-size_m: 1em;
$p-size_s: 0.9em;

$body_bgc: white;

$block-preview_bgc: rgb(215, 228, 218);

$header-logo_bgc: rgb(255, 255, 255);
$header-logo_text_color: rgb(0, 0, 0);
$header-logo__text_font-family: $h-0, $h-1;
$header-logo__text_font-size: $h-size_l;

$nav-user_bgc_0: rgb(216, 235, 255);
$nav-user__item: $nav-0;

$block_bgc: rgb(255, 255, 255);
$block-direction_text: $h_0;
$block-direction__item_font: "Merriweather", serif;
$block-direction__item_bgc: rgb(221, 236, 216);

//карта офера
$block-service__offer-button-bar: #faad7a; //кнопка-бар оффера
$block-service__card-header_bgc: #ffe4c4; //заголовок карточки

%link-pseudo {
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: white;
    background-color: #999999;
  }
  &:active {
    color: black;
  }
}
%link-footer {
  &:link {
    color: white;
  }
  &:visited {
    color: white;
  }
  &:hover {
    color: white;
    background-color: #999999;
  }
  &:active {
    color: white;
  }
}
%h2 {
  font-size: $h-size_s;
  text-align: center;
  font-family: $h-0;
  padding: 20px;
}
%block {
  padding: 20px;
  background-color: $block_bgc;
  border-radius: 1%;
}
%contaner {
  width: 70%;
  margin: auto;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

h2 {
  font-size: $h-size_s;
  text-align: center;
  font-family: $h-0;
  padding: 20px;
}
body {
  height: 100%;
  background-color: $body_bgc;
}
* {
  box-sizing: border-box;
}
.block-preview {
  padding: 10px;
  height: 100%;
  background-color: $block-preview_bgc;

  &_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__logo {
    width: 70%;
  }
  &__text {
    font-family: $h-0, $h-1;
    font-size: $h-size_l;
  }
}

.header-logo {
  height: auto;
  padding: 10px 20px 0px;
  background-color: $header-logo_bgc;

  &_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  &__img {
  }
  &__text {
    font-family: $h-0;
    font-size: $h-size_m;
    color: $header-logo_text_color;
    @media screen and (max-width: 550px) {
      font-size: $h-size_s;
    }
  }
}
.nav-user {
  background-color: $nav-user_bgc_0;

  &_flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__item {
    text-decoration: none;
    font-size: $nav-size_s;
    font-family: $nav-0;
    padding: 20px 10px;

    &_link {
      @extend %link-pseudo;
    }
    &_link-footer {
      @extend %link-footer;
    }
    &_disabled {
      display: none;
    }
  }
}
/*Ограничительный блок бургер навигации*/
.wrapper {
  @extend %block;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}
/*Основные стили бургер навигации*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: purple;
  }
  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
  &__logo {
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    > img {
      max-width: 100%;
      display: block;
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: 767px) {
      
      >span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
      }
      display: block;
      position: relative;
      width: 30px;
      height: 20px;

      %before_after {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
      }
      
      :before {
        @extend %before_after;
        content: "";
        top: 0;
      }
      :after {
        @extend %before_after;
        content: "";
        bottom: 0;
      }
    }
  }

  &__menu {
  }
  &__list {
    display: flex;

    > li {
      list-style-type: none;
      margin: 0px 0px 0px 20px;
    }
  }
  &__link {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
  }
}

.block-direction {
  @extend %block;
  padding: 100px 0px 0px 0px;

  &__contaner {
    @extend %contaner;
  }
  &__item {
    &_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      @media screen and (max-width: 655px) {
        grid-template-columns: 1fr;
      }
    }
    &_font {
      font-family: $p-0;
      font-size: $p-size_l;
      text-align: center;
    }
  }
  &__li {
    padding: 10px;
    border-radius: 10px;
    background-color: $block-direction__item_bgc;

    &_flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.block-service {
  @extend %block;

  &__contaner {
    @extend %contaner;
  }
  &__button-bar {
    padding: 15px;
    margin: 5px 0px;
    width: 100%;
    background-color: $block-service__offer-button-bar;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.4s;
    &:after {
      content: "\02795";
      float: right;
    }
    &:hover {
      background-color: #ccc;
    }
    &_text {
      font-family: $p-0;
      font-size: $nav-size_m;
      text-align: left;
      @media screen and (max-width: 655px) {
        font-size: $nav-size_s;
      }
    }
  }
  &__active {
    &:after {
      content: "\2796";
    }
  }
  &__price {
    display: grid;
    margin: 5px;

    &_accordion {
      overflow: hidden;
      max-height: 0px;
      transition: max-height 0.5s ease-in-out;
    }
    &_position-1 {
      grid-template-columns: 1fr;
      grid-gap: 10px;
      @media screen and (max-width: 655px) {
        grid-template-columns: 1fr;
      }
    }
    &_position-2 {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      @media screen and (max-width: 655px) {
        grid-template-columns: 1fr;
      }
    }
    &_position-3 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      @media screen and (max-width: 655px) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__card {
    display: block;
    font-family: $p-0;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
  }
  &__card-header {
    background-color: $block-service__card-header_bgc;
    font-size: $p-size_l;
    line-height: 1.5em;
    text-align: center;
    padding: 10px 0px;
  }
  &__card-cost {
    background-color: lightgrey;
    font-size: $p-size_l;
    padding: 10px;
  }
  &__card-text {
    font-size: $p-size_m;
    padding: 10px;
    border-bottom: 1px solid rgb(240, 238, 238);
  }
  &__card-button {
    font-size: $p-size_m;
    background-color: white;
    padding: 10px;
    width: auto;
    margin: auto;
  }
}
.button-price {
  background-color: rgb(89, 189, 89);
  width: 100%;
  font-family: $p-0;
  font-size: $p-size_l;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  cursor: pointer;

  &:hover {
    background-color: rgb(65, 138, 65);
  }
  &:active {
    background-color: rgb(65, 138, 65);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
}
.block-teachers {
  @extend %block;

  &__contaner {
    display: grid;
    @extend %contaner;
    &_position {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;

      @media screen and (max-width: 650px) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 450px) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__card {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 1px 10px;
  }

  &__image {
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 100% 0px;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 450px) {
      padding: 0px 0px 70% 0px;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__info {
  }
  &__name {
    font-size: $p-size_l;
    text-align: center;
    line-height: 1.2em;
    padding: 10px;
  }
  &__prof {
    font-size: $p-size_m;
    text-align: center;
    color: grey;
  }
}

.block-about {
  @extend %block;
  & {
    @extend %contaner;
  }

  &__card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 720px) {
      padding: 0px 50px;
      grid-template-columns: 1fr;
    }
  }
  &__map {
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    height: 400px;
    @media screen and (max-width: 550px) {
      height: 300px;
    }
  }

  &__contact {
    font-family: $p-0;
    font-size: $p-size_m;
  }
  &__head {
    padding: 15px;
    text-align: center;
    font-size: $p-size_l;
  }
  &__info {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    line-height: 20px;
  }
}

.block-footer {
  background-color: rgb(39, 38, 38);
  &__contaner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media screen and (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }
  &__logo {
    padding: 10px;
    @media screen and (max-width: 450px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__nav {
    display: flex;
    justify-self: center;
    align-items: center;
    @media screen and (max-width: 450px) {
      flex-direction: column;
    }
  }
  &__link {
    @extend %link-footer;
    padding: 15px;
  }
}
